@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.align_center {
  display: flex;
  align-items: center;
}

.service-text ul {
  list-style-type: disc;
}

.service-text li {
  color: white;
  font-weight: bold;
}

@media (max-width: 768px) {
  #hero_title {
    margin-top: 200px;
  }
}

/* ABOUT SECTION */
@media screen and (max-width: 1180px) {
  .about .content,
  .service .service-content {
    flex-direction: column-reverse; /* Image placed at the bottom */
  }

  .about,
  .service {
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}

@media screen and (max-width: 650px) {
  .about .content,
  .service .service-content {
    flex-direction: column-reverse; /* Image placed at the bottom */
  }

  .about .content img,
  .service .service-content img {
    height: 450px;
    width: 400px;
    margin-bottom: 50px;
  }

  .text h1,
  .service-text h1 {
    font-size: 27px;
    margin-bottom: 25px;
  }

  .service-text h1 span {
    font-size: 32px;
    margin-bottom: 25px;
  }

  .text h5,
  .service-text h5 {
    font-size: 32px;
    letter-spacing: 1px;
  }

  .text p,
  .service-text p {
    text-align: justify;
    font-size: 15px;
  }

  .text button,
  .service-text button {
    font-size: 13px;
  }
}
